# Dependencies
node_modules/
.pnpm-store/

# Build Output
dist/

# Environment variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun.lockb
bun.lock

# OS Files
.DS_Store
Thumbs.db
